body{ 

    background: url(img/papu.jpg) no-repeat center center fixed; 
    background-size: cover;
}


.form-container {
    width: 400px;
    background: 
                linear-gradient(145deg, transparent 55%,#6400e7ee, #6400e7) border-box;
                
    border: 5px solid transparent;
    backdrop-filter: blur(20px) ;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    margin-top: 6%;
    margin-left: 36%;
    

  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 7px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
  }
  
  .form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #ffffff;
    font-family: inherit;
    background-color: transparent;
    border: 3px solid #8400ff;
    height: 37px ;
  }
  
  .form-container .form-group textarea {
    width: 98%;
    padding: 16px, 16px;
    border-radius: 8px;
    resize: none;
    color: #ffffff;
    height: 37px;
    border: 3px solid #8400ff;
    background-color: transparent;
    font-family: inherit;
    
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #2f00ff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #2f00ff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #ffffff;
    font-weight: 600;
    width: 40%;
    background:#1100ff ;
    border: 1px solid #5900ff;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #0044ff;
    border-color: #3700ff;
  }
  
  
  .title {
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(76, 0, 255);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(0, 60, 255);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1px;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  .message{
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-top: -4%;
  }

button{
    width: 100px;
    font-family: 'Times New Roman', Times, serif;
}